{{ define "components/navbar.html" }}

<div  class="flex flex-row relative inset-x-0 top-0 bg-red-400">
		<div class="relative object-left p-4">
		<h1 class="text-3xl">
			<b>Nikul Patel</b>
		</h1>
		</div>

		<nav class="absolute right-0">
			<ul class="flex flex-row">
				<li><a href="#" class="inline-block relative object-center mr-6 mt-5 text-xl">Home</a></li>
				<li><a href="#" class="inline-block relative object-center mr-6 mt-5 text-xl">About</a></li>
				<li><a href="#" class="inline-block relative object-center mr-6 mt-5 text-xl">Resources</a></li>
				<li><a href="#" class="inline-block relative object-center mr-6 mt-5 text-xl">Projects</a></li>
				<li><a href="#" class="inline-block relative object-center mr-6 mt-5 text-xl">CV</a></li>
			</ul>
		</nav>
		</div>

{{ end }}