
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
  font-variation-settings: "wght" 500;
}


html {
  font-family: "Raleway";
  font-weight: 500;
}


body {
  background-size: 40px 40px;
  background-image: radial-gradient(rgb(100, 100, 100) 2%, transparent 0);
}

#randomQuote {
  display: inline;
}

