@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 700;
  src: url("/fonts/IBMPlexMono-Bold.ttf");
}

html {
  font-family: "IBMPlexMono";
}

#vantajs {
  position: fixed;
  z-index: -100;
  opacity: 0.5;
  width: 100%; 
  height: 100%;
  top: 0px;
  left: 0px;
    background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

