

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
}


html {
  font-family: "Raleway";
  font-weight: 500;
}

#randomQuote {
  display: inline;
}

#posreturn {
  color: green;
  background-color: lightgreen;
  opacity: 0.8;
}

#negreturn {
  color: red;
  background-color: #ffaca6;
  opacity: 0.8;
}
