{{ template "header.html"}}

{{ template "navbar.html"}}
	
		<div>
			
		<h2>Intro</h2>
		<p>
			Write an intro here...
		</p>


		<h2>About</h2>
		<p>This is my personal website. I intend to use this as a playground for me to experiment with and learn new things.
		<br>
		I'm not sure exactly what will be on this website or who the intended audience is, though I hope I'll learn a lot and have fun along the way!
		</p>
		</div>

	<div>
		<ul>
			<li> Item 1 </li>
		</ul>

	</div>


	</body>


{{ template "footer.html"}}
